<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>

    <!-- Compiled and minified -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <script src="/javascripts/materialize.js"></script>

    <!-- Audio -->
    <link rel="stylesheet" href="/stylesheets/audio.css">

    <!-- Local -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/main.js"></script>
    
</head>
<body>
    <header>
        <div id="main-appbar">
            <div id="main-appbar-logo">
                <!-- 로고 -->
            </div>
            <form>
                <input type="search" name="search" id="search-bar">
            </form>
        </div>
    </header>

    <main id="login-page">
        <form id="login-form" action="/signup" method="post">
            <div class="input-field">
                <input id="username" type="text" name="username" class="validate">
                <label for="username">Username</label>
            </div>
            <div class="input-field">
                <input id="password" type="password" name="password" class="validate">
                <label for="password">Password</label>
            </div>
            <div class="input-field">
                <input id="confirmPassword" type="password" name="confirmPassword" class="validate">
                <label for="confirmPassword">confirmPassword</label>
            </div>
            <div>
                <button class="login-button waves-effect waves-light btn" type="submit" value="">Signup</button>
            </div>
        </form>
    </main>
</body>
</html>