@font-face {
    font-family: "NanumSquare";
    src: url("../fonts/NanumSquareL.ttf") format("truetype");
}

:root {
    --point-color: #F16461;
    --bg-color: rgba(241, 99, 97, 0.438);
    --border-color: #fd3535;

    --header-height: 56px;
}

html, body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "NanumSquare", "맑은 고딕";
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    /* height: calc(var(--header-height) * 2); */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
#main-appbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--header-height) - (var(--header-height) / 4));
    box-sizing: unset;
    /* border-bottom: 2px solid var(--border-color); */
    padding: 0 3%;
    background-color: var(--border-color);
}
#main-appbar-logo {
    width: 100px;
    height: 38px;
    background-image: url("../images/logo/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#main-appbar > form {
    text-align: right;
    width: auto;
}
#search-bar {
    width: 30px;
    height: 30px;
    margin: 0 0 0 auto;
    border: 0;
    border-right: 0 solid rgba(0, 0, 0, 0);
    border-bottom: 0px solid #ffffff;
    border-left: 0 solid rgba(0, 0, 0, 0);
    background: rgba(255, 255, 255, 0.76);
    border-radius: 15px;
    padding: 0 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 5px #ffffff;
    background-image: url("../images/header/magnify.svg");
    background-position: calc(100% - 6px) 45%;
    background-repeat: no-repeat;
    background-size: 19px;
    transition: 0.2s;
}
#search-bar:focus {
    width: 100%;
    border-radius: 3px;
    border-bottom-right-radius: 15px;
}
#search-bar:focus {
    box-shadow: 0;
}


#sub-appbar {
    white-space: nowrap;
    width: 100%;
    height: var(--header-height);
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 10px;
    background-color: #ffffff;
}
.user {
    display: inline-block;
    width: calc(var(--header-height) - 14px);
    height: calc(var(--header-height) - 14px);
    margin: 7px 6px;
    border-radius: 50%;
    border: 2px solid #808080;
    background-color: #8080806e;
    background-image: url("../images/main/user-light.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.1s;
}
.user:hover {
    width: calc(var(--header-height) - 10px);
    height: calc(var(--header-height) - 10px);
    margin: 5px 6px;
}
.user-connected {
    width: calc(var(--header-height) - 10px);
    height: calc(var(--header-height) - 10px);
    margin: 5px 6px;
    border-color: var(--border-color);
    background-color: var(--bg-color);
    box-shadow: 0 0 3px var(--border-color);
}
.user-connected:hover {
    width: calc(var(--header-height) - 5px);
    height: calc(var(--header-height) - 5px);
    margin: 2.5px 3px;
}
.user-connected:nth-child(1) {
    border-color: #35adfd;
    background-color: rgba(97, 176, 241, 0.438);
    box-shadow: 0 0 3px #35adfd;
}
.user-connected:nth-child(2) {
    border-color: #fd3582;
    background-color: rgba(241, 97, 140, 0.438);
    box-shadow: 0 0 3px #fd3582;
}
.user-connected:nth-child(3) {
    border-color: #00e61f;
    background-color: rgba(97, 241, 121, 0.438);
    box-shadow: 0 0 3px #00e61f;
}
.user-connected:nth-child(4) {
    border-color: #e7971e;
    background-color: rgba(241, 191, 97, 0.438);
    box-shadow: 0 0 3px #e7971e;
}

main {
    height: 100%;
    padding: calc(var(--header-height) * 2) 0 calc(var(--header-height) + 1%);
}
.carousel {
    overflow: unset;
    height: 350px;
}
.carousel .carousel-item {
    visibility: hidden;
    position: absolute;
    top: -25px;
    left: -25px;
}
.carousel .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 250px;
    height: 250px;
}
.carousel-item {
    width: 250px;
    height: 250px;
}
#post-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 7px solid #e9e9e9; */
    padding: 0 3%;
}
#writer-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#writer-profile {
    display: flex;
    align-items: center;
    /* margin-left: 3%; */
}
.writer-profile-img {
    /* margin: 3%; */
    width: calc(var(--header-height));
    height: calc(var(--header-height));
    border: 2px solid var(--border-color);
    border-radius: 50%;
    background-color: var(--bg-color);
    background-image: url("../images/main/user-light.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 2px 4px var(--point-color);
}
#writer-profile-name {
    width: 100px;
    margin-left: 10px;
    font-size: 1.5rem;
}
#post-created-day {
    /* margin-right: 3%; */
    color: #808080;
}
.video-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
}

.player-bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 10px;
}
.music-plus {
    width: 40px;
    height: 40px;
    background-image: url("../images/main/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.music-heart {
    width: 40px;
    height: 40px;
    background-image: url("../images/main/heart.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#remaining-content-button {
    position: absolute;
    right: 3%;
    bottom: calc(var(--header-height) + 2%);
    /* left: 0; */
    width: 56px;
    height: 56px;
    /* margin: auto; */
    border-radius: 50%;
    background-color: var(--border-color);
    background-image: url("../images/main/layer-plus-light.svg");
    background-position: center 42%;
    background-repeat: no-repeat;
    background-size: 55%;
    box-shadow: 0 0 4px #808080;
}

.sidenav {
    width: 100vw;
}
#sidenav-exit-button {
    width: 36px;
    height: 36px;
    margin: 12px;
    background-image: url("../images/main/arrow-to-right-light.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.sidenav .divider {
    margin: 0;
}
#sidenav-post-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 3%;
}
#sidenav-writer-profile {
    display: flex;
    align-items: center;
}
.writer-profile-name-date {
    width: 100px;
    margin-left: 10px;
    font-size: 1.3rem;
    color: #808088;
}
.sidenav-date {
    font-size: 0.9rem;
}
.sidenav-option {
    width: 38px;
    height: 38px;
    border-radius: 3px;
    background-image: url("../images/main/ellipsis-v-alt-light.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 94%;
}
#music-information {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3%;
    height: calc(var(--header-height) + (var(--header-height) / 2));
    border: 1px solid var(--bg-color);
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
#music-img {
    width: 65px;
    height: 65px;
    border: 3px solid var(--bg-color);
    background-image: url("../images/coverimg/image.jpg");
    background-position: center;
    background-size: cover;
    background-color: #ffffff;
    border-radius: 10%;
}
.music-title {
    flex: 1;
    text-align: center;
    font-size: 2rem;
}
.music-content {
    position: relative;
    bottom: 0;
    width: 90%;
    height: calc(100vh - 245px);
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    background-color: #bdbdbd42;
    overflow-y: scroll;
    font-size: 1.1rem;
    line-height: 2.5rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    height: calc(var(--header-height) + 1%);
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.footer-item {
    flex-grow: 1;
    cursor: pointer;
}
.footer-item-selected {
    cursor: default;
}

#sns {
    background-image: url("../images/footer/home-light.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 33%;
    text-decoration: 0.2s;
}
#music {
    background-image: url("../images/footer/music-light.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    text-decoration: 0.2s;
}
#friends {
    background-image: url("../images/footer/users-light.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 38%;
    text-decoration: 0.2s;
}
#mypage {
    background-image: url("../images/footer/ballot-light.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28%;
    text-decoration: 0.2s;
}
#setting {
    background-image: url("../images/footer/cog-light.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32%;
    text-decoration: 0.2s;
}

#sns.footer-item-selected {
    border-top: 3px solid var(--border-color);
    border-bottom: 3px solid #ffffff00;
    background-image: url("../images/footer/selected/home-solid.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 38%;
}
#music.footer-item-selected {
    border-top: 3px solid var(--border-color);
    border-bottom: 3px solid #ffffff00;
    background-image: url("../images/footer/selected/music-solid.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32%;
}
#friends.footer-item-selected {
    border-top: 3px solid var(--border-color);
    border-bottom: 3px solid #ffffff00;
    background-image: url("../images/footer/selected/users-solid.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
}
#mypage.footer-item-selected {
    border-top: 3px solid var(--border-color);
    border-bottom: 3px solid #ffffff00;
    background-image: url("../images/footer/selected/clipboard-check-solid.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}
#setting.footer-item-selected {
    border-top: 3px solid var(--border-color);
    border-bottom: 3px solid #ffffff00;
    background-image: url("../images/footer/selected/cog-solid.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 34%;
}







.display-none {
    display: none;
}